/* ContactForm.css */
#contacto {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.toast-success {
  position: fixed;
  top: 20%; /* Puedes ajustar esto a 40% si lo quieres más centrado verticalmente */
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  animation: fadeOut 4s forwards;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.toast-error {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dc3545; /* Rojo Bootstrap */
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  animation: fadeOut 4s forwards;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}


